* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: 'M PLUS 1p', sans-serif;
}

:root {
    --main-color--: #FF0303;
    --secondary-color--: #5D9C59;
    --a--: #1A1A1A;
    --text-color--: #4E6E81;
    --text2-color-: #F9F871;
}

#logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 50px;
}

a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width:481px) {
    #head .ani {
        font-size: 20px;
    }
}

.ani::after {
    content: " ";
    animation: animate 3s infinite ease-in-out;
    animation-fill-mode: none;
    /* Hello, i'm Ahmad */
}

@keyframes animate {

    0% {
        content: "H|";
    }

    3% {
        content: "He|";
    }

    6% {
        content: "Hel|";
    }

    9% {
        content: "Hell|";

    }

    12% {
        content: "Hello|";

    }

    15% {
        content: "Hello,|";

    }

    18% {
        content: "Hello,i|";

    }

    21% {
        content: "Hello,i'|";

    }

    24% {
        content: "Hello,i'm|";

    }

    27% {
        content: "Hello,i'm A|";

    }

    30% {
        content: "Hello,i'm Ah|";

    }

    33% {
        content: "Hello,i'm Ahm|";

    }

    36% {
        content: "Hello,i'm Ahma|";

    }

    39% {
        content: "Hello,i'm Ahmad|";
    }

    42% {
        content: "Hello,i'm Ahmad A|";

    }

    45% {
        content: "Hello,i'm Ahmad Al|";

    }

    49% {
        content: "Hello,i'm Ahmad Al-|";

    }

    52% {
        content: "Hello,i'm Ahmad Al-T|";

    }

    55% {
        content: "Hello,i'm Ahmad Al-Ta|";

    }

    58% {
        content: "Hello,i'm Ahmad Al-Tam|";

    }

    61% {
        content: "Hello,i'm Ahmad Al-Tami|";

    }

    64% {
        content: "Hello,i'm Ahmad Al-Tamim|";

    }

    67% {
        content: "Hello,i'm Ahmad Al-Tamimi|";

    }

    100% {
        content: "Hello,i'm Ahmad Al-Tamimi|";

    }


}

nav {
    background-color: rgb(41, 39, 39);
}

.main-ul li a {
    margin-right: 50px;
    color: white;
    font-weight: bold;
    transition: 0.4s;
    width: fit-content;
    padding-bottom: 10px;
    position: relative;
    
}
.main-ul li a:before {
    content: '';
    background: var(--main-color--);
    
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
  }
  .main-ul li a:hover::before {
    width: 100%;
    transition: 0.4s;
  }

.main-ul li a:hover {
    
    color: var(--main-color--);
    text-decoration: none;
    /* border-bottom: var(--main-color--) 4px solid; */
}

@media screen and (max-width:481px) {
    .main-ul li a:hover {
        border-bottom: none;

    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    .main-ul li a {
        font-size: 12px;
        margin-right: 20px;
    }

    .head-div {
        margin-left: 0;
    }
}

/* Start head with photo */
.main-color {
    color: var(--main-color--);
}

.w-color {
    color: white;
}

#head {
    background-color: black;
    height: calc(100vh - 76px);
    padding-top: 70px;
    font-size: 30px;
    display: flex;
    overflow: hidden;
    padding-bottom: 40px;
}

#head .left-content {
    margin-left: 200px;
}

button {
    border-radius: 8px;
    background-color: var(--main-color--);
    display: flex;
    padding: 10px 10px;

}

#head button a {
    color: black;
    font-size: 17px;
    font-weight: bold;
    text-decoration: none;

}

#head button:hover {

    transition: 1s;
    transform: scale(1.1);
}

#head p:last-of-type {
    font-weight: bold;
    width: 300px;

}

h1 {
    font-size: 60px;
}
#head .icons{
    display: flex;
}
#head .icons i {
    margin-left: 50px;
    margin-top: 5%;
}

#head .icons a {
    text-decoration: none;
}

.fa-linkedin-in:hover {
    color: blue;
    transition: 0.4s;
}

#head .icons .fa-github:hover {
    color: rgb(206, 206, 218);
    transition: 0.4s
}

#my-image img {
    height: 455px;
    margin-right: 100px;
    box-shadow: 10px -5px 17px var(--main-color--);
}

@media screen and (min-width:481px) and (max-width:768px) {
    h1 {
        font-size: 40px;
    }
    #my-image img {
    box-shadow: none;

    }
    #head .left-content {
        margin-left: 100px;
    }

    #head {
        font-size: 25px;
    }
}

@media screen and (max-width:481px) {
    #head .left-content {
        position: relative;
        margin-left: 0;
        z-index: 20;
    }

#head .container{
    position: relative;
    margin-left: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    #head {

        flex-direction: column;
        position: relative;
        text-align: center;
    }

    #my-image img {
        position: absolute;
        top: -40px;
        left: 8%;
  
    box-shadow: none;

    }

    #head p:last-of-type {
        width: 100%;
    }

    button {
        transform: translateX(25%);
  
}
#head .icons{
    position: absolute;
    left: 24%;
}
    }
    #head .icons{
        width: 42%;
    }
    #head .icons i {
        margin-right: 0px;
    }


/* End head with photo */

/* Start About me  */
#about-me {
    background-color: #1A1A1A;
    height: 100vh;
    padding-top: 60px;

}

#about-me h2 {
    text-align: center;
    font-size: 50px;
    margin-bottom: 80px;
    color: white;
}

#about-me .content {
    display: flex;
    align-items: center;
}

#about-me .left-content {
    width: 50%;
    display: flex;
    justify-content: end;
    margin-right: 30px;
}

#about-me .left-content img {
    height: 400px;
    box-shadow: #645b5b -11px -11px 20px 0px;

}

#about-me .right-content h4 {
    padding: 20px;
    font-size: 46px;
    color: var(--main-color--);
}

#about-me .right-content {
    color: #8B8B8B;
    transition: 0.4s;
    cursor: crosshair;
    position: relative;
}

#about-me .right-content p {
    margin-bottom: 60px;
    color:#fff;
}

#about-me .right-content a:first-of-type {
   color: white;
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
}
#about-me .right-content  #contact-me{
    text-align: center;
    background-color: var(--main-color--);
    padding: 10px 15px;
    border-radius: 6px;
    display: flex;
    width: 30%;
}
#about-me .right-content  #contact-me i{
    color: white !important;
    margin-left: 10px;
}

@media screen and (min-width:481px) and (max-width:768px) {
#about-me .right-content  #contact-me{
    padding: 10px 15px;
    width: 49%;
}
#about-me .left-content img {
}
}

@media screen and (max-width:481px) {
    #about-me .right-content h4 {
        margin: 0;
    }

    #about-me .right-content p {
        margin: 0;
        margin-bottom: 60px;
    }
#about-me .right-content  #contact-me{
    position: absolute;
    top: 84%;
    transform: translate(50%);
    font-size: 12px;

    right: 50%;
    width: 38%;

}}

#about-me .right-content .text span:last-of-type:hover {
    color: var(--main-color--);
}

h2:hover {
    transition: 1s;
    background-color: var(--main-color--);
    color: #1A1A1A;
}

@media screen and (min-width:481px) and (max-width:768px) {
    #about-me .left-content img {
        width: 300px;
    }

    #about-me .right-content p {
        margin: 0;
        font-size: 12px;
    }
}

@media screen and (max-width:481px) {
    #about-me h2 {
        margin-bottom: 20px;
    }

    #about-me .left-content {
        width: 100%;
        justify-content: center;
        margin: 0;
    }

    #about-me .content {
        flex-direction: column;
        align-items: center;
    }

    #about-me .left-content img {
        height: 200px;
        margin: 0;

    }

    #about-me .right-content h4 {
        text-align: center;
        font-size: 27px;
    }

    #about-me .right-content p {
        font-size: 12px;
    }
}

/* End About Me  */

/* start education  */
#education {
    padding: 40px 80px;
    background: black;

}

#education h2 {
    color: white;
}

#education .container-e {
    display: flex;
    justify-content: space-between;
}

#education .container-e .study {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;

}

#education .container-e .study {
    position: relative;
}

#education .container-e .study span {
    color: var(--main-color--);
}

#education .container-e .study::before {
    content: "";
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: var(--main-color--);
    bottom: 120%;
    left: 0;
}

#education .container-e .study::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: var(--main-color--);
    bottom: 110%;
    left: 80%;
    border-radius: 50%;
}

#education .container-e #not-active::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: var(--main-color--) 1px solid;
    bottom: 110%;
    left: 80%;
    border-radius: 50%;

    animation: infinite 1s;
    animation-name: light;
}

@keyframes light {
    0% {
        background-color: transparent;

    }

    100% {
        background-color: var(--main-color--);


    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    #education .container-e{
        gap: 74px;
        flex-direction: column;
        width: 75%;
    }
  

    #education .container-e .study::before {
        transform: rotate(90deg);
        left: 111%;
        width: 30%;
        bottom: 50%;
    }

    #education .container-e .study::after,
    #education .container-e #not-active::after {
       left: 124%;
       bottom: 46%;
   }
    #education .container-e .study {
        flex-direction: row;
    }

    #education .container-e .study span{
        position: absolute;
    left: 93%;
    width: 144px;
    }
}

@media screen and (max-width:481px) {

    #education .container-e{
        flex-direction: column;
        width: 100%;
    }

    #education .container-e .study h5 {
        margin-top: 10px;
    }

    #education .container-e .study p {
        margin-bottom: 10px;
    }

    #education .container-e .study::before {
        display: none;
    }

    #education .container-e .study::after,
    #education .container-e#not-active::after {
        display: none;


    }
 
   
}

#skills {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    color: white;


}

#skills h2 {
    color: white;
}

#skills .container {
 display: grid;
 grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    /* padding-left: 100px; */
}

#skills span {
    position: relative;
}



#skills #soft-skills,
#skills #technical-skills {
    background: #ffffff12;
    color: #fff;
    padding: 25px;
    width: 100%;
    border-radius: 68px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 26px;
    text-align: center;
    box-shadow: 4px -2px 20px 14px;
/* transform: rotate(2deg); */
}
#skills #soft-skills{
    box-shadow: inset var(--secondary-color--)  0px 0px 15px 5px;
}
#skills #soft-skills:hover{
    background-color: var(--secondary-color--);
    transition: 2s;
    
}

#skills #technical-skills {
    box-shadow:inset var(--main-color--)  0px 0px 15px 5px;

}
#skills #technical-skills:hover {
    transition: 2s;
background-color: var(--main-color--);
}
#skills #technical-skills:hover h5,
#skills #soft-skills:hover h5{
    transition: 2s;
    color: black;

}

#skills #soft-skills h5 {
    color: var(--secondary-color--);

    font-size: 40px;
    margin-bottom: 43px;
}



#skills #technical-skills h5 {
    color: var(--main-color--);

    font-size: 40px;
    margin-bottom: 43px;
}



@media screen and (min-width:481px) and (max-width:768px) {

    #skills #soft-skills,
    #skills #technical-skills {
        font-size: 27px;
    }
#skills span{
    display: inline-block;
 
    padding: 10px;
}

    #skills .container {
        padding-left: 0;
    }
}

@media screen and (max-width:481px) {

    #skills .container {
        flex-direction: column;
        padding-left: 0;

    }

    #skills #soft-skills,
    #skills #technical-skills {
        margin-bottom: 20px;
 
    }

    #skills span {
        padding-top: 10px;
        font-size: 16px;
    }
}

/* <!-- End Skills  --> */

/* <!-- StartProject  --> */
#project {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: var(--a--);

}

#project .container {
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

#project .card {
    padding: 2px 7px;
    margin-top: 10px;
    background-color: #2E3840;
    border-radius: 6px;
    position: relative;
    transition: 1s;
    box-shadow: 0px 0px 13px 0px #ff0247;
}

#project .card:hover {
    transform: translateY(-10px);
}

#project .card img {
    border-radius: 8px;
}

#project .card .content {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    text-align: center;
}

#project .card h6 {
    margin-top: 23px;
    text-transform: uppercase;
    font-size: 33px;
}

#project .card .content p {
    font-size: 10px;
    color: #F9F871;
    margin-bottom: 28px;
}

#project .card .content .demo {
    position: absolute;
    bottom: 3px;
    right: 22px;
    color: var(--main-color--);
}
#project .card .content .demo a{
    color: var(--main-color--);
    text-decoration: none;
   
    transform: translate(50% , 50%);
    background: #000000ab;
    font-weight: 700;
    font-size: 11px;
    height: 44px;
    align-items: center;
    display: flex;
    border-radius: 50%;
    box-shadow: inset 0px 20px 20px red;
    justify-content: center;
    color: #ffffff;
    width: 44px;

}
#project .card .content:hover .demo {
    transition: 0.4s;
    transform: translateX(10px);
}
/* Start language */
#language {
    padding: 40px 0 0 0;
    background-size: cover;

    background-color: black;
    position: relative;
}

#language h2 {
    color: white;
}

#language img {
    width: 100%;
}

#language #lang {

    display: grid;
    grid-template-columns: 50% 50%;
    position: relative;
}
#language h2 {
    margin-bottom: 20px;
}
@media screen and (min-width:481px) and (max-width:768px) {
#language #lang {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
}
#language #lang #arabic,
#language #lang #eng {
    margin-left: 10%;
}
}
#language #lang #arabic,
#language #lang #eng {
    position: relative;
}
#language #lang #arabic p,
#language #lang #eng p {
    font-size: 30px  !important;

}
#language .white{
    width: 350px;
    height: 15px;
    position: absolute;
    bottom: 29px;
    left: 107px;
    background-color: white;
}
#language #length1 ,
#language #length2{
    
    display: inline-block;
    position: absolute;
    height: 15px;
    box-shadow: inset red -20px 2px 20px 3px;
    background-color: #fff;
}
#language #length1{
    width: 95%;
animation: lengtha 2s 1 ;
}
@keyframes lengtha {
    0%{
        width: 0;
    }
    100%{
    width: 95%;

    }
}
#language #length2{
    width: 60%;
    animation: lengthe 2s 1 ;

}
@keyframes lengthe {
    0%{
        width: 0;
    }
    100%{
    width: 60%;

    }
}
#language #arabic{
    width: 400px;
 
}
#language p {
    font-size: 50px;
    color: white;
    margin-right: 10px;
}

#language p span {
    font-size: 30px;
    color: var(--main-color--);
    position: relative;

}


@media screen and (max-width:481px) {
    #language p {
        font-size: 20px;
    }

    #language p span {
        font-size: 10px;
    }
    #language #lang {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }   
#language .white{
width: 260px;
}
#language #lang #arabic ,
#language #lang #eng {
    width: 100%;
}
#language #lang #arabic p, #language #lang #eng p {
    font-size: 20px !important;
}

}

/* End language */
/* Start reference  */

#reference {
    padding: 40px 0;
    background-color: #DF2E38;

}

#reference h2 {
    color: white;
    margin: 0;
    margin-bottom: 5px;
}

#reference .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

#reference .content {
    flex-direction: column;
    justify-content: center;
    color: white;

}

#reference .content p {
    font-weight: 600;
    font-size: 30px;
}

#reference .content span {
    font-size: 20px;
}

i {
    color: var(--main-color--);
}

#reference .content .icons {
    font-size: 30px;
    margin-top: 5px;
}

#reference .content .icons i {
    color: white;
}

#reference img {
    border-radius: 50%;
    height: 30%;
    width: 30%;
}
#reference img:hover{
    transition: 0.4s;
  
 
}

@media screen and (max-width:481px) {
    #reference .content p {
        font-size: 15px;
    }

    #reference .content span {
        font-size: 10px;
    }

    h2 {
        font-size: 30px !important;
    }

    h6 {
        font-size: 16px !important;
    }

    h5 {
        font-size: 20px !important;
    }
}

/* END reference  */
/* Start footer  */
#footer {
    background-color: var(--a--);
    padding: 10px 5px;
   
}
#footer #content{
    font-size: 9px;
    display: flex;
    width: 30%;
    gap: 7px;
}
#footer .container1 {
    display: flex;
    position: relative;
    justify-content: space-between;
    color: white;
    align-items: center;
    padding: 0 20px;
}
#footer #copy{
    position: absolute;
    bottom: 0;
    font-size: 6px;
    left: 50%;
    transform: translateX(-50%);
   

}

#footer .socila a i {
    padding-left: 10px;
}

#footer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;

}

#footer .links span {
transform: scale(1.1);
overflow: hidden;
    transition: 0.4s;
}

#footer .links a {
    padding-left: 25px;
    text-decoration: none;
}

#footer .links a:hover,
#footer .links span {
    color: var(--main-color--);
}
@media screen and (min-width:481px) and (max-width:768px) {
    #footer #content{
        flex-direction: column;
    } 
}
@media screen and (max-width:481px) {
    #language h2:hover{
        background-color: blue;
    }
#footer {
    height: 60px;
}
#footer #content{
    flex-direction: column;
    font-size: 5px;
}
    #footer img {
        width: 20px;
        height: 20px;
    }

    #footer .socila span {
        font-size: 10px;
    }

    #footer .socila a {
        font-size: 10px;
    }

    #footer .links a {
        font-size: 10px;
        padding-left: 3px;
    }

    #footer .socila a i {
        padding-left: 0px;
    }
#footer #copy{
    top: 30px;

}
}

.linked-in:hover,
.facebook:hover {
    transition: 0.4s;
    color: blue;
}
@media screen and (max-width:376px) {
    #language .white{
        width: 188px !important;
    }
}
#footer #copy{
    font-size: 5px;
        top: 34px;
    }
    #skills #soft-skills, #skills #technical-skills {
        margin-bottom: 20px;
        width: 78%;
    }
    #footer #copy {
        font-size: 4px;
        top: 43px;
}
#footer #content {
 
    gap: 0;
}
#footer .links a {
    font-size: 5px;
}

/* linked-in */
